<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />

    <div class="header-fields flexcol">
      <div class="looserow">
        <div class="resource looserow flex-group-center">
          <label for="actor.name" class="resource-label">Name</label>
          <div class="looserow">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" size="40" />
          </div>
        </div>

        <div class="resource looserow flex-group-center">
          <label for="system.attributes.origin" class="resource-label">Origin</label>
          <div class="looserow">
            <input type="text" name="system.attributes.origin" value="{{system.attributes.origin}}" data-dtype="String"
              size="12" style="text-align: left;" />
          </div>
        </div>

        <div class="resource looserow flex-group-center">
          <label for="system.attributes.class" class="resource-label">Class</label>
          <div class="looserow">
            <input type="text" name="system.attributes.class" value="{{system.attributes.class}}" data-dtype="String"
              size="12" />
          </div>
        </div>
      </div>

      <div class="resources tightrow" style="margin-top: 10px;">
        <div class="resources tightrow">
          <div class="resource flexcol flex-group-center">
            <label for="system.hp.value" class="resource-label">HP</label>
            <div class="tightrow">
              <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" size="2" />
              <label class="fraction">/</label>
              <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number" size="2" />
            </div>
          </div>
        </div>

        <div class="resource flexcol flex-group-center">
          <label for="system.ac" class="resource-label">AC</label>
          <div class="tightrow">
            <input type="text" name="system.ac" value="{{system.ac}}" data-dtype="Number" size="2" />
          </div>
        </div>

        <div class="resource flexcol flex-group-center">
          <label for="system.init" class="resource-label">INIT</label>
          <div class="tightrow">
            <input type="text" name="system.init" value="{{system.init}}" data-dtype="Number" size="2" />
          </div>
        </div>

        <div class="resource flexcol flex-group-center">
          <label for="system.spd" class="resource-label">SPD</label>
          <div class="tightrow">
            <input type="text" name="system.spd" value="{{system.spd}}" data-dtype="Number" size="2" />
          </div>
        </div>

        <div class="resource flexcol flex-group-center">
          <label for="system.attributes.xp" class="resource-label">XP</label>
          <div class="tightrow">
            <input type="text" name="system.attributes.xp" value="{{system.attributes.xp}}" data-dtype="Number"
              size="5" />
          </div>
        </div>

        <div class="resource flexcol flex-group-center">
          <label for="system.attributes.lvl" class="resource-label">LVL</label>
          <div class="tightrow">
            <input type="text" name="system.attributes.lvl" value="{{system.attributes.lvl}}" data-dtype="Number"
              size="2" />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Abilities --}}
  <div class="sheet-header">
    <div class="header-fields">
      <div class="abilities flexrow">
        <div class="ability flexcol flex-group-center">
          <label class="resource-label flexlarge">PROF</label>
          <label for="system.attributes.prof" class="resource-label"
            style="font-size: 200%;border: 2px groove #eeede0;padding: 5px;">{{numberFormat
            system.attributes.prof
            decimals=0
            sign=true}}</label>
        </div>

        {{#each system.abilities as |ability key|}}
        <div class="ability flexcol flex-group-center">
          <label for="system.abilities.{{key}}.max" class="resource-label rollable flexlarge"
            data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}} {{numberFormat
            ability.mod decimals=0 sign=true}}</label>
          <div class="flexcol" style="scale: 125%;">
            <input class="resource-label" type="text" name="system.abilities.{{key}}.max" value="{{ability.max}}"
              data-dtype="Number" placeholder="10" title="{{ability.label}} Score" size="2" />
            <input style="scale: 60%;" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}"
              data-dtype="Number" title="Current {{ability.label}}" placeholder="{{ability.max}}" size="2" />
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="proficiencies">Proficiencies</a>
    <a class="item" data-tab="items">Inventory</a>
    <a class="item" data-tab="spells">Spells</a>
    <!-- <a class="item" data-tab="effects">Effects</a> -->
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{> "systems/tnt1e/templates/actor/parts/actor-features.html"}}
        </section>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data
      to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Notes Tab --}}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/tnt1e/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/tnt1e/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/tnt1e/templates/actor/parts/actor-effects.html"}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="proficiencies">
      <section class="grid grid-3col">
        <section class="main grid-span-3">
          {{> "systems/tnt1e/templates/actor/parts/actor-proficiencies.html"}}
        </section>
      </section>
    </div>

  </section>
</form>