<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="resource">
      <label class="resource-label">Type (0: cantrip, 1: spell)</label>
      <input type="number" name="system.spellLevel" value="{{system.spellLevel}}" data-dtype="Number" size="1" />
    </div>
  </header>
  <div class="header-fields">
    <h4 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <h4 class="charname"><input name="system.description" type="text" value="{{item.system.description}}"
          placeholder="Description" /></h1>
  </div>
</form>